*{
    margin:0;
    padding: 0;
}

body{
    background-color: wheat;
}

.HeaderMM{
    margin-top:10px;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    margin:0px 5vh;
    border-radius: 20px;
}

.Texts{
    margin:2vh 5vh;
    font-family: sans-serif;
}

.Texts:hover{
    cursor: pointer;
}

.UserProfile{
    border-radius: 50%;
    margin: 8px 2vh 0px;
    width:70px;
    height: 70px;
}

.UserProfile:hover{
    opacity: 75%;
}

.NoUserProfile{
    border-radius:50% ;
    margin: 8px 2vh 0px;
    width: 70px;
    height: 70px;
    box-shadow: inset;
}

.AuthoralRights{
    font-size: 1px;
}

.InputHeader{
    margin-top:2vh ;
    display: flex;
    padding: 10px;
    border: none;
    color:white;
    border-radius:10px ;
    background-color: gray;
    width:200px;
    transform: translateX(-100px);
}

.InputHeader:hover{
    background-color: darkslategrey;
}

.InputHeader::selection{
    background-color: darkslategrey;
}

.InputHeader::placeholder{
    color:white;
    padding: 0px 55px;   
}

.cards{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10vh;
    margin-left: 5vw;
}

.card_product{
    background: white;
    padding:15px;
    border-radius: 10px;
    width: auto;
    margin:5px;
    margin-right: 5vw;
}

.card_product:hover{
    opacity: 88%;
}

.love{
    margin-top: 10px;
    width:25px;
    height:25px;
}

.cart{
    margin-top: 10px;
    width:25px;
    height: 25px;
}

.buy{
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.buy:hover{
    opacity: 75%;
}

.cards_image{
    width: 300px;
    height: 300px;
}
