body , html{
  background:#fffb5b;  
  height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.LoginText{
  position:relative;
  font-family: Arial,sans-serif;
  transform:translateX(100px);
}

.SectionLogin{
  position:relative;
  display:flex;
  justify-content:space-between;
  align-items: center;
  background:#818eed;
  margin-left:100px;
  padding:2vh;
  border-radius:20px;
}

.ImageForms{
  position:relative;
  height:400px;
  width:400px;
  margin-right:50;
  margin-top:50px;
  transform: translateX(-450px);
}

label{
  font-weight:800;
  font-family:Arial, sans-serif
}

label{
  font-size: 25px;
}

.Login{
  transform:translateX(-200px);    
  margin-top:50px;
}

.InputLoginEmail {
display: flex;
justify-content: space-between;
gap: 10px;
margin:7px 0px;
padding:10px;
border: none;
border-radius:10px;
white-space: nowrap;
}

.InputLoginPassword {
display: flex;
justify-content: space-between;
gap: 10px;
margin:7px 0px;
padding:10px;
border: none;
border-radius:10px;
white-space: nowrap;
}

.ButtonLogin {
display: flex;
justify-content: space-between;
gap: 10px;
border-radius:5px;
background-color:	#FFA07A;
margin-top:25px;
padding:5px 50px;
}

.ButtonLogin:hover{
cursor: pointer;
}

.AuthoralRights{
position:relative;
margin-top:400px;
transform:translateX(-300px);
}