{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Header HTML</title>
    <link rel="stylesheet" href="{% static "Forms/static/style_register_form.css"%}"></link>
</head>
<body>
  <section class="SectionRegister">
    <div id="Register"> 
      <form class="FormRegister">
        {% csrf_token %}
        {% for field in form.visible_forms %}
        <div class="DivRegister">
          <label for={{ fields.id_for_label }}>{{field.label}}</label>
          {{field}}
        </div>
        <buttom id="ButtonRegister" type="submit">Registro</buttom>
        {% endfor %}
      </form>
    </div>
  </section>
</body>
</html>
