{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset</title>
    <link rel="stylesheet" href="{% static 'style_reset_form.css'%}">
</head>
<body>
    <section class="SectionResetPassword">

        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        <div class="ResetPassword">
            <form class="Reset" method="POST">
                /* Aqui, deveríamos colococar o CSRF token */

                <div class="Inputs">
                    {% for labels in reset.visible_fields %}
                        <div class="InputsResetForm">
                            <label for="{{labels.id_for_label}}">{{labels.label}}</label>
                            {{labels}}
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="ButtonResetPasword" >Salvar</button>
            </form>
        </div>
    </section>
</body>
</html>