body{
  background-color: aliceblue;
}

.SectionLogin{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  align-self: center;
  align-content: center;
  border: 15px;
  background-color: antiquewhite;
  padding: 50px;
  position: relative;
  bottom: 30px;
  margin-left:100px;
}

.InputLoginEmail{
  display:flex;
  justify-content: space-between;
  gap: 10px;
  border: none;
  white-space: nowrap;
}

.InputLoginPassWord{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border: none;
  white-space: nowrap;
}

.ButtonLogin{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.ButtonLogin:hover{
  cursor: pointer;
}
