{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'StylesReset/password_reset_done.css'%}">
</head>
<body>
    <section class="SuccessEmailSend">
        <div class="main">
            <h1>Perfeito!, enviamos um email com um link para a redefinição da sua conta!</h1>
            <button type="submit" onclick="window.location.href='http://127.0.0.1:8000/accounts/login/'" class="TurnBackLogin">Voltar para a página de login</button>
        </div>
    </section>
</body>
</html>