*{
    margin:0;
    box-sizing:border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    height:100vh;
}

.SectionForget{
    background-color: whitesmoke;
    color: black;
    padding: 100px;
    border-radius:10px;
    font-family:sans-serif;
}

.InputForgetEmail{
    white-space: nowrap;
    border-radius: 5px;
    padding:5px 10px;
}

.ForgetButton{
    border: none;
    background:LimeGreen;
    padding:10px;
    border-radius:5px;
    font-family:sans-serif;
}

.ForgetButton:hover{
    background-color:ForestGreen;
}

.div_messages{
    display: flex;
}

.messages{
    font-size: 15px;
    background-color: forestgreen;
    color:white;
    border-radius: 7px;
    border: none;
    text-decoration: none;
    margin:11vh 5vh;
    font-family: sans-serif;
    padding: 15px;
}
